<!DOCTYPE html>
<html>
<head>
    <title>Create Image</title>
</head>
<body>
    <h1>Create Image</h1>
    <form id="create-image-form" action="/home" enctype="multipart/form-data" method="POST">
        <label for="csv-file">CSV File:</label>
        <input type="file" name="csv_file" id="csv-file" required><br>

        <label for="red-field">Red Field:</label>
        <input type="text" name="red_field" id="red-field" required><br>

        <label for="green-field">Green Field:</label>
        <input type="text" name="green_field" id="green-field" required><br>

        <label for="blue-field">Blue Field:</label>
        <input type="text" name="blue_field" id="blue-field" required><br>

        <button type="submit">Create Image</button>

        <div>
            <img src= "{{url_for('static', filename='/Images/saveimage.jpg')}}" >
        </div>
    </form>
</body>
</html>
